.learnbook-container {
  margin: 5vmin auto;
  width: calc(100% - 10vmin);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .learnbook-group-list {
    margin: 0 auto 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmin;
  
    .learnbook-group-list-item {
      list-style: none;

      .learnbook-group-list-item-active {
        border-bottom: 3px solid #36D96F;
      }
  
      .learnbook-group-list-item-button {
        text-align: center;
      
        flex-basis: 100%;  
        font-size: 1.2rem;
      
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
      
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }

  .learnbook-spinner-container {
    display: flex;
    justify-content: center;
    height: 50vh;

    .learnbook-spinner {
      align-self: center;
    }
  }
  
  .words-container {

    .words-list {
      margin-bottom: 2vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5vmin;
    
      .words-list-item {
        list-style: none;
      }
    }
  }
  
  .group-pages-list {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .group-pages-list-item-correct {
      background-color: #36D96F;
      color: #FFFFFF;
    }
  
    .group-pages-list-item {
      list-style: none;
      display: flex;
      flex-direction: row;
  
      .group-pages-list-item-element {
        margin: 0 5px;
        font-size: 1.5rem;
      }
    }
  }

  .games-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vmin;
    right: 5vmin;
    top: 10vh;

    &:hover .games-buttons {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      transition: 1s ease-in-out;
    }

    .game-button {
      z-index: 1;
    }

    .games-buttons {
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      row-gap: 1vmin;
      opacity: 0;
      transform: translateY(-50%);
      pointer-events: none;
      transition: 1s ease-in-out;

      .game-button {
        align-self: flex-end;
      }
    }
  }
}
