<div *ngIf="!auth.isAuthenticated">
  <div class="wrapper">
    <div class="button__outer-wrapper mat-elevation-z3">
      <mat-card class="button__inner-wrapper background-primary mat-elevation-z8" routerLink="/login">
        <mat-card-title>Чтобы сохранять и просматривать статистику, авторизуйтесь</mat-card-title>
        <lord-icon src="https://cdn.lordicon.com/eszyyflr.json" trigger="hover" colors="primary:#fff,secondary:#f8bbd0;"
          class="button__icon login-icon">
        </lord-icon>
      </mat-card>
    </div>

  </div>
</div>

<div *ngIf="auth.isAuthenticated">
  <div *ngIf="!isStatisticGet || !isUserWordsGet">
    <div class="wrapper">
      <div class="button__outer-wrapper mat-elevation-z3">
        <mat-card class="button__inner-wrapper background-primary mat-elevation-z8">
          <lord-icon src="https://cdn.lordicon.com/gqdnbnwt.json" trigger="loop"
            colors="primary:#fff,secondary:#f8bbd0;" class="button__icon">
          </lord-icon>
          <mat-card-title>Статистика загружается...</mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>

  <div *ngIf="auth.isAuthenticated">
    <div *ngIf="isStatisticGet && isUserWordsGet" class="wrapper wrapper-outer">
      <div class="wrapper">
        <mat-card class="button__inner-wrapper background-primary mat-elevation-z8 mat-card-base">
          <mat-card-title>Аудиовызов</mat-card-title>
          <mat-card-content *ngIf="audioCardData">
            <mat-list>
              <mat-list-item>Количество новых слов за день: {{audioCardData.newWords}}</mat-list-item>
              <mat-list-item>Самая длинная серия правильных ответов: {{audioCardData.correctSeries}}</mat-list-item>
              <mat-list-item>Процент правильных ответов: {{audioCardData.rightPercent}}%</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-content *ngIf="!audioCardData">Сегодня вы ещё не играли</mat-card-content>
        </mat-card>
        <mat-card class="button__inner-wrapper background-primary mat-elevation-z8 mat-card-base">
          <mat-card-title>Спринт</mat-card-title>
          <mat-card-content *ngIf="sprintCardData">
            <mat-list>
              <mat-list-item>Количество новых слов за день: {{sprintCardData.newWords}}</mat-list-item>
              <mat-list-item>Самая длинная серия правильных ответов: {{sprintCardData.correctSeries}}</mat-list-item>
              <mat-list-item>Процент правильных ответов: {{sprintCardData.rightPercent}}%</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-content *ngIf="!sprintCardData">Сегодня вы ещё не играли</mat-card-content>
        </mat-card>
        <mat-card class="button__inner-wrapper background-primary mat-elevation-z8 mat-card-base">
          <mat-card-title>Слова</mat-card-title>
          <mat-card-content *ngIf="wordsCardData">
            <mat-list>
              <mat-list-item>Количество выученных слов за день: {{wordsCardData.newWords}}</mat-list-item>
              <mat-list-item>Самая длинная серия правильных ответов: {{wordsCardData.correctSeries}}</mat-list-item>
              <mat-list-item>Процент правильных ответов: {{wordsCardData.rightPercent}}%</mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-content *ngIf="!wordsCardData">Сегодня вы ещё не играли</mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngIf="isStatisticGet && isUserWordsGet" class="wrapper wrapper-charts">
      <mat-card class="background-primary mat-elevation-z8 chart-card">
        <mat-card-title>Количество новых слов</mat-card-title>
        <mat-card-content *ngIf="newWordsChartOption" class="chart-content">
          <div echarts [options]="newWordsChartOption" class="chart mat-app-background"></div>
        </mat-card-content>
        <mat-card-content *ngIf="!newWordsChartOption">Недостаточно данных</mat-card-content>
      </mat-card>
      <mat-card class="background-primary mat-elevation-z8 chart-card">
        <mat-card-title>Количество изученных слов</mat-card-title>
        <mat-card-content *ngIf="studiedChartOption" class="chart-content">
          <div echarts [options]="studiedChartOption" class="chart mat-app-background"></div>
        </mat-card-content>
        <mat-card-content *ngIf="!studiedChartOption">Недостаточно данных</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
