<div class="overlay">
  <mat-card class="modal">
  <div class="modal__close">
    <mat-icon color="primary" (click)="closeResults()">cancel</mat-icon>
  </div>
    <mat-card-title>Аудиовызов</mat-card-title>
    <mat-card-content>Результаты игры: {{positiveResults.length}}/{{resultsArray.length}}</mat-card-content>
    <mat-card-subtitle>Правильные</mat-card-subtitle>
    <mat-list class="results__list">
      <mat-list-item *ngFor="let answer of positiveResults; let i = index">
        <div class="results-row">
          <span class="results-row__number">
              <mat-icon color="primary">check_circle</mat-icon>
          </span>
          <span class="results-row__sound-button">
          <button mat-mini-fab color="accent" (click)="getAudio(answer.word.audio)">
            <mat-icon matListIcon
              >hearing</mat-icon
            >
          </button>
        </span>
          <div class="results-row__word">
            <span>{{ answer.word.word }}</span>
            <span> {{ answer.word.wordTranslate }} </span>
          </div>
          <span style="flex:auto"></span>
          <mat-icon matListIcon class="results-row__learnbook">local_library</mat-icon>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-card-subtitle>Неправильные</mat-card-subtitle>
    <mat-list class="results__list">
      <mat-list-item *ngFor="let answer of negativeResults; let i = index">
        <div class="results-row">
          <span class="results-row__number">
              <mat-icon color="warn">do_not_disturb_on</mat-icon>
          </span>
          <span class="results-row__sound-button">
          <button mat-mini-fab color="accent" (click)="getAudio(answer.word.audio)">
            <mat-icon matListIcon
              >hearing</mat-icon
            >
          </button>
        </span>
          <div class="results-row__word">
            <span>{{ answer.word.word }}</span>
            <span> {{ answer.word.wordTranslate }} </span>
          </div>
          <span style="flex:auto"></span>
          <mat-icon matListIcon class="results-row__learnbook">local_library</mat-icon>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-card-actions>
      <app-button-accent
        [title]="'Закрыть'"
        (click)="closeResults()"
      ></app-button-accent>
    </mat-card-actions>
  </mat-card>
</div>
<audio src="" #audioPlayer></audio>
