<mat-card *ngIf="!gameMode">
  <mat-card-title>Аудиовызов</mat-card-title>
  <mat-card-content>Описание игры</mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Выберите уровень</mat-label>
    <mat-select [(ngModel)]="selectedLevel">
      <mat-option *ngFor="let level of levelsInGame; let i = index" [value]="i"
        >Уровень {{ i + 1 }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <app-button-accent
      [title]="'Начать игру'"
      (click)="startGame()"
    ></app-button-accent>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="gameMode">
  <mat-spinner *ngIf="!loadingProgress"></mat-spinner>
  <div *ngIf="loadingProgress">
    <span>
      <mat-icon color="primary" *ngIf="isUserRight==='true'">check_circle</mat-icon>
    </span>
    <span>
      <mat-icon color="warn" *ngIf="isUserRight==='false'">do_not_disturb_on</mat-icon>
    </span>
  <button mat-fab color="accent">
    <img mat-card-avatar [src]="getImage()" alt="answer-image" #imageAnswer *ngIf="isUserRight !== null">
    <mat-icon (click)="getAudio()" *ngIf="isUserRight === null">hearing</mat-icon>
  </button>
<mat-card-subtitle *ngIf="isUserRight !== null">{{wordsForGame[this.currentQuestion].word}}</mat-card-subtitle>
<mat-card-subtitle *ngIf="isUserRight !== null">{{wordsForGame[this.currentQuestion].wordTranslate}}</mat-card-subtitle>
  <mat-card-content>
    <button
      mat-stroked-button
      color="primary"
      *ngFor="let option of options; let i = index"
      (click)="checkAnswer(option.word)"
      [disabled]="isUserRight !== null"
    >


      {{ i + 1 }}

      {{ option.wordTranslate }}
    </button>
  </mat-card-content>
  <mat-card-actions *ngIf="isUserRight !== null">
    <app-button-accent
      [title]="'Следующий'"
      (click)="nextQuestion()"
    ></app-button-accent>
  </mat-card-actions>
</div>
</mat-card>
<audio src="" #audioPlayer></audio>
