@import './../../../../styles/mixins.scss';
mat-sidenav{
  height: 100%;
  overflow-x: hidden;
}
mat-sidenav-container{
  min-width: 100%;
  min-height: 100vh;

}
h1{
  margin: auto;
}
mat-sidenav-content{
  position: relative;
  min-height: 100vh;
}
.wrapper__content{
  padding-bottom: 4rem;
  @include media-menu-switcher{
    padding-bottom: 6.5rem;
    }
}
.settings__toggle{
margin-right: 2%;
}
.footer-bar{
position: absolute;
left:0;
bottom: 0;
width:100%;
height:4rem;
@include media-menu-switcher{
  height: 6.5rem;
  }
}
.settings__icon{
  // width:2rem;
  // height:2rem;
  // margin-right: 1rem;
  // mat-icon{
  // font-size:3rem;
  // width:2rem;
  // height:2rem;
  // line-height: 2rem;

  // }
&:hover{
  cursor: pointer;
  opacity: 0.8;
}
}
.chevron-button{
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  right:0;
  position: absolute;
  float: right;
  &.rotated{
    transform: rotate(180deg);
  }
}

.user-name {
  margin: 0 1rem;
  font-size:2rem;
}

.avatar-image {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  border-radius: 50%;
  display: block;
  box-shadow: 0rem 0.3rem 0.1rem -0.2rem rgb(0 0 0 / 20%), 0rem 0.2rem 0.2rem 0rem rgb(0 0 0 / 14%), 0rem 0.1rem 0.5rem 0rem rgb(0 0 0 / 12%);
}
h1{
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: 'Leckerli One', cursive;
  font-size: 3.5rem;
}
