mat-sidenav{
  height: 100%;
}
mat-sidenav-container{
  min-width: 100%;
  min-height: 100vh;
}
h1{
  margin: auto;
}
mat-sidenav-content{
  min-height: 100vh;
}
.footer-bar{
position: absolute;
left:0;
bottom: 0;
width:100%;
}
.chevron-button{
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  right:0;
  position: absolute;
  float: right;
  &.rotated{
    transform: rotate(180deg);
  }
}
