<mat-sidenav-container
  autosize
  class="app-content mat-app-background"
  [ngClass]="{ 'dark-theme-mode': isDarkTheme }"
>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon matListIcon >menu_book</mat-icon>
        <span style="flex: auto"></span>
        <mat-icon
          matListIcon
          class="chevron-button sidenav-button"
          (click)="isExpanded = !isExpanded"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right</mat-icon
        >
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item [routerLink]="''">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine *ngIf="isExpanded">Главная</a>
      </mat-list-item>
      <mat-divider color="accent"></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon [routerLink]="'learnbook'">auto_stories</mat-icon>
        <a matLine *ngIf="isExpanded">Учебник</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon [routerLink]="'games'">smart_toy</mat-icon>
        <a matLine *ngIf="isExpanded">Игры</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon [routerLink]="'statistics'">signal_cellular_alt</mat-icon>
        <a matLine *ngIf="isExpanded">Статистика</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon [routerLink]="'aboutteam'">emoji_people</mat-icon>
        <a matLine *ngIf="isExpanded">Команда</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-slide-toggle [(ngModel)]="isDarkTheme">
          <mat-icon>bedtime</mat-icon>
        </mat-slide-toggle>
        <span style="flex: auto"></span>
        <h1>RSLang</h1>
        <span style="flex: auto"></span>

        <button mat-raised-button color="accent">Войти</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  <app-footer class="footer-bar"></app-footer>
</mat-sidenav-container>
