<p>about-team works!</p>
<div *ngIf="auth.loginError$ | async as error">{{error}}</div>
<div *ngIf="auth.updateLoginError$ | async as error">{{error}}</div>
<button (click)="onClickGetWordsButton()">getWords</button>
<button (click)="onClickGetWordButton()">getWord</button>
<button (click)="onClickCreateNewUserButton()">createNewUser</button>
<button [disabled]="!auth.isAuthenticated" (click)="onClickGetUserButton()">getUser</button>
<button (click)="onClickLoginButton()">Login</button>
<button (click)="onClickLogoutButton()">Logout</button>
<button (click)="onClickUpdateUserButton()">UpdateUser</button>
<button (click)="onClickDeleteUserButton()">DeleteUser</button>
<button (click)="onClickGetNewTokenButton()">GetNewToken</button>
<button (click)="onClickGetAllUserWordsButton()">GetAllUserWords</button>
<app-button-accent (click) = "startAudioChallenge()"[title]="'Запустить аудиовызов(стр 15, разд 0)'"></app-button-accent>
