<p>about-team works!</p>
<button (click)="onClickGetWordsButton()">getWords</button>
<button (click)="onClickGetWordButton()">getWord</button>
<button (click)="onClickCreateNewUserButton()">createNewUser</button>
<button (click)="onClickGetUserButton()">getUser</button>
<button (click)="onClickSignInButton()">singIn</button>
<button (click)="onClickUpdateUserButton()">UpdateUser</button>
<button (click)="onClickDeleteUserButton()">DeleteUser</button>
<button (click)="onClickGetNewTokenButton()">GetNewToken</button>
<button (click)="onClickGetAllUserWordsButton()">GetAllUserWords</button>
