<ul class="words-list">
  <li class="words-list-item"
      *ngFor="let wordData of wordsData">
    <app-word [wordData]="wordData"></app-word>
  </li>
</ul>
<ul class="group-pages-list">
  <li class="group-pages-list-item" *ngFor="let pageNum of pageNums">
    <span class="group-pages-list-item-element" *ngIf="pageNum === pageNums.length && pageNum - currentPage > 2">...</span>
    <button class="group-pages-list-item-element"
            mat-raised-button
            color="accent"
            [routerLink] = "['/learnbook', groupNum]"
            [queryParams] = "{page: pageNum}"
            (click)="getWords(pageNum - 1)"
            *ngIf="pageNum === 1 || pageNum === pageNums.length
                  || (pageNum - currentPage) >= 0 && (pageNum - currentPage) <= 2
                  || (currentPage - pageNum) >= 0 && (currentPage - pageNum) <= 2">
      {{ pageNum }}
    </button>
    <span class="group-pages-list-item-element" *ngIf="pageNum === 1 && currentPage - pageNum > 2">...</span>
  </li>
</ul>
