.word-card {
  width: 19vw;

  .word-card-title-group {
    margin-bottom: 10px;

    .mat-card-subtitle {
      margin-bottom: 0;
    }
  
    .word-card-image-container {
      margin-left: 1vw;
      width: 5vw;
      height: 5vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-shrink: 0;
      overflow: hidden;
    }
  }

  .word-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .word-card-content-list {
      display: flex;
      flex-direction: row;
      column-gap: 1vh;
      font-size: 0.6rem;

      cursor: pointer;      
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
  
      .word-card-content-list-item {      
        align-self: center;
        list-style: none;

        &:hover {
          opacity: 0.7;
        }
      }
    }
    
    .word-card-content-audio {
      position: absolute;
      right: 0;
      transform: translate(-20%, -20%);
    }
  }
}