<mat-card class="word-card transparent-background"
          [ngClass]="{'mat-app-background': isStudied}">
  <div class="word-card-spinner-container" *ngIf="!loadingProgress">
    <mat-spinner class="word-card-spinner" color="accent"></mat-spinner>
  </div>
  <mat-card-title-group class="word-card-title-group">
    <mat-card-title class="mat-card-title">
      {{wordData.word}}
      <button class="word-card-content-audio"
              mat-icon-button
              color="accent"
              (click)="playAudio()">
        <mat-icon>volume_up</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle><strong>{{wordData.transcription}}</strong> - {{wordData.wordTranslate}}</mat-card-subtitle>
    <div class="word-card-image-container">
      <mat-icon class="word-card-chart-icon"
                color="accent"
                (pointerenter)="showStats()"
                (pointerleave)="hideStats()">
        insert_chart_outlined
      </mat-icon>
      <img class="word-card-image" [src]="getImage()">
    </div>
  </mat-card-title-group>
  <mat-card-content class="word-card-content">
    <ul class="word-card-content-list">
      <li class="word-card-content-list-item" (pointerenter)="showMeaning()" (pointerleave)="hideText()">Определение</li>
      <li class="word-card-content-list-item" (pointerenter)="showExample()" (pointerleave)="hideText()">Пример</li>
    </ul>
    <p class="word-card-content-text background-accent" *ngIf="isMeaningShow || isExampleShow" [innerHTML]="wordCardContentText"></p>
    <div class="word-card-buttons-container" *ngIf="isLoggedIn">
      <button class="word-card-button"
              mat-icon-button
              color="primary"
              title="Добавить в Изученные"
              (click)="checkAsStudied()">
        <mat-icon class="word-card-button-icon" *ngIf="isStudied; else uncheckedBox" color="accent">check_box</mat-icon>
        <ng-template #uncheckedBox>
          <mat-icon class="word-card-button-icon" color="accent">check_box_outline_blank</mat-icon>
        </ng-template>
      </button>
      <button class="word-card-button"
              mat-icon-button
              *ngIf="!isStudied; else disabledIsHardButton"
              color="primary"
              title="Добавить в Сложные"
              (click)="checkAsHard()">
        <mat-icon class="word-card-button-icon" color="accent" *ngIf="isHard; else easyWord">turned_in</mat-icon>
        <ng-template #easyWord>
          <mat-icon class="word-card-button-icon" color="accent">turned_in_not</mat-icon>
        </ng-template>
      </button>
      <ng-template #disabledIsHardButton>
        <button class="word-card-button" mat-icon-button disabled>
          <mat-icon class="word-card-button-icon">turned_in_not</mat-icon>
        </button>
      </ng-template>
    </div>
    <div class="stats-container background-primary text-accent" [ngClass]="{'stats-active': isStatsShow}">
      <div class="stats-row">
        <div class="stats-cell correct-answer-icon"><mat-icon>check</mat-icon></div>
        <div class="stats-cell"><mat-icon color="warn">close</mat-icon></div>
      </div>
      <div class="stats-row">
        <div class="stats-cell">{{correctAnswers}}</div>
        <div class="stats-cell">{{wrongAnswers}}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>