<mat-card class="word-card">
  <mat-card-title-group class="word-card-title-group">
    <mat-card-title class="mat-card-title">
      {{wordData.word}}
      <button class="word-card-content-audio"
              mat-icon-button color="accent"
              (click)="playAudio()">
        <mat-icon>volume_up</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle><strong>{{wordData.transcription}}</strong> - {{wordData.wordTranslate}}</mat-card-subtitle>
    <div class="word-card-image-container">
      <img class="word-card-image" [src]="getImage()">
    </div>
  </mat-card-title-group>
  <mat-card-content class="word-card-content">
    <ul class="word-card-content-list">
      <li class="word-card-content-list-item" (mouseenter)="showMeaning()" (mouseleave)="hideText()">Определение</li>
      <li class="word-card-content-list-item" (mouseenter)="showExample()" (mouseleave)="hideText()">Пример</li>
    </ul>
    <p class="word-card-content-text" *ngIf="isMeaningShow || isExampleShow" [innerHTML]="wordCardContentText"></p>
    <div class="word-card-buttons-container">
      <button class="word-card-button" mat-icon-button color="primary" (click)="addUserWord()">
        <mat-icon class="word-card-button-icon" *ngIf="isKnown; else uncheckedBox">check_box</mat-icon>
        <ng-template #uncheckedBox>
          <mat-icon class="word-card-button-icon">check_box_outline_blank</mat-icon>
        </ng-template>
      </button>
      <button class="word-card-button" mat-icon-button color="primary">
        <mat-icon class="word-card-button-icon" *ngIf="isHard; else easyWord">star</mat-icon>
        <ng-template #easyWord>
          <mat-icon class="word-card-button-icon">star_border</mat-icon>
        </ng-template>
      </button>
    </div>
  </mat-card-content>
</mat-card>